nav {
    background-color: #ddd7d7;
}

#titulo{

    padding: 60px;
}

#titulo #userLine{
    width: 20%;
    margin-left: 40%;

}



footer a{
	margin: 20px;
	text-decoration: none;
	color: brown;
}

footer h6{
	color: brown;
}