#titulo{
    background-color: #ddd7d7;
    padding: 100px;
}

#titulo #userLine{
    width: 20%;
    margin-left: 40%;

}

.texto{
    text-align: center;
}



footer a{
	margin: 20px;
	text-decoration: none;
	color: brown;
}

footer h6{
	color: brown;
}