
main {
    background-color: #ddd7d7;
    width: auto;

}

main .buscar {
    padding: 100px;
}

nav a {
    font-size: 12px;
    color: #c95555;
    text-decoration: none;
    padding: 20px 25px;
}

.cat {
    width: 380px;
    height: 300px;
}

.rec {
    width: 450px;
    height: 200px;
}

.categoria {
    padding: 100px;
    
}