main{
	background-color: #ddd7d7;
}
nav {
    background-color: #ddd7d7;
}


.buscar {
    padding: 100px;

}

.section-padding {
	padding: 100px 0;
}



footer a{
	margin: 20px;
	text-decoration: none;
	color: brown;
}

footer h6{
	color: brown;
}


/* --- --- CAROUSEL --- --- */

.carousel{
	padding: 50px;
}


.carousel__elemento {
	text-align: center;
}



